.musicCard {
	height: 60vh;
	margin-top: 10vh;
}

.musicCard>div {
	height: 100%;
}

.albumCoverBackground {
	width: 100%;
	max-height: 100%;
}

.trackAbout>p:nth-of-type(odd) {
	font-size: 1.2rem;
	margin-bottom: 0rem;
	color: rgb(147, 167, 220);
}

.trackAbout>p:nth-of-type(even) {
	margin-bottom: 2rem;
}

.like-controls>div {
	position: relative;
	height: 50%;
	width: 100%;
	border-radius: 15px;
	transition: background .3s linear, color .2s linear, border .3s linear, font-size .2s ease-out;
}

.like-controls>div:first-of-type {
	border: 2px solid #71DC06;
	margin-bottom: 0.3rem;
	color: #71DC06;
}

.like-controls>div:last-of-type {
	margin-top: 0.3rem;
	border: 2px solid #FF0000;
	color: #FF0000;
}

.like-controls>div:first-of-type:hover {
	background: #71dc06;
}

.like-controls>div:last-of-type:hover {
	background: #FF0000;

}

.like-controls>div:hover {
	transition: font-size .3s cubic-bezier(0.43, 0.84, 0, 1.79);
	border: none;
	color: #DBEEC7;
	font-size: 1.1em;
	cursor: pointer;
}

.thumb-icon {
  font-size: 5rem;
	position: absolute;
	top: calc(50% - 2.5rem);
	left: calc(50% - 2.5rem);
}

img{
	width: 100%;
	height: 100%;
	position: relative;
}

audio{
	width: 100%;
}

.ease-out-transition-all{
	transition: all .6s ease-out;
}

.ease-out-transition-all-long{
	transition: all .4s ease-out;
}

.no-hover-on-PC{
	pointer-events: none;
}

.like-indicator-mobile{
  position: absolute;
  width: 38%;
  height: 38%;
  opacity: 0;
}

.z-index-5{
	z-index: 5;
}

.like-indicator-mobile:nth-of-type(1){
  left:0;
  top:62%;
  background: #71dc06;
}

.like-indicator-mobile:nth-of-type(2){
  position: absolute;
  left: 62%;
  top:62%;
  background: red;
}
