

  .image-card-wrapper{
    height: 42vh;
    left: 0;
    top: 0;
  }

  img{
    height: 100%;
    width: auto;
  }

  #tracks-wrapper{
    height: 100%;
  }

  #track-list-container{
    height: 84vh;
  }

  .no-tracks-added-info{
    font-size: 2rem;
  }

  .transition-all-ease-out{
    transition: all .1s ease-out;
  }

  @media only screen and (max-width: 767px){

    .image-card-wrapper{
      height: 40vh;
      left: 0;
      top: 0;
    }

    #track-list-container{
      height: 80vh;
    }
  }




