

  .image-card-wrapper{
    height: 42vh;
  }

  img{
    height: 100%;
    width: auto;
  }

  #tracks-wrapper{
    height: 100%;
  }

  #track-list-container{
    height: 84vh;
  }

  .no-tracks-added-info{
    font-size: 2rem;
  }
