@section Styles
{
	<link rel="stylesheet" href="~/css/cards.css" />
	<link rel="stylesheet" href="~/css/loadingSpinner.css" />
	<link rel="stylesheet" href="~/css/loadingScreen.css" />
	<link href="~/css/homePage.css" rel="stylesheet" />
	<link href="~/css/trackLinks.css" rel="stylesheet" />
}

@section Scripts
{
	<script type="module" src="js/music_card_manager.js"></script>
	<script type="module" src="~/js/like_controls.js"></script>
}

<div class="container-fluid">
	<div id="loadingScreen" class="row text-center align-content-center">
		<div class="col-12 alignAtCenter">
			<h1 id="loadingScreenTitle" class="text-white display-1">MusicApp</h1>
			<div class="lds-ellipsis">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

	<div class="container music-card-container mx-auto" style="display: none;">
		<div class="musicCard row text-white">
			<div class="col-0 col-md-4 trackAbout d-none d-md-flex flex-column justify-content-between">


				<p>Author</p>
				<p class="trackAuthor"></p>
				<p>Title</p>
				<p class="trackTitle"></p>
				<p>Album</p>
				<p class="albumTitle"></p>
				<p>Release Date</p>
				<p class="trackReleaseDate"></p>
				<p>Deezer Rank</p>
				<p class="trackDeezerRank"></p>
				<p>Links</p>
				<p class="track-links"></p>
				<input class="trackAudioSource" type="hidden" />

			</div>

			<div class="albumCoverContainer col-12 col-md-6 p-0">

				<div class="audioControls mt-3">

				</div>

				<div class="d-none spinner justify-content-center align-items-center" style="height: 100%;">
					<div class="spinner-border" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			</div>

			<div class="col-0 col-md-2 text-center d-none d-md-flex flex-column like-controls">
				<div id="thumbsUpBtn">
					<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				</div>
				<div id="thumbsDownBtn">
					<i class="fa fa-thumbs-down" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</div>


